.hottest {
    margin: 40px auto;
    width: 100%;
    direction: rtl;
    padding: 0 20px;
    height: auto;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
  }
  .hottest--1{
    
    padding: 16px 0;
  }

  .hottest__header {
    font-size: 21px;
    font-weight: bold;
    color: #23254e;
    height: 44.09px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-family:IRANYekanWeb-regular;
    position: relative;
    padding: 0 20px;

    
    
  }
  .hottest__header > span {
    display: flex;
    align-items: center;
    gap: 8px;                       
  }
  .hottest__header > span svg {
    width: 24px !important;
    height: 24px !important;
  }
  .hottest__header > span svg path {
    fill: #f9a825;
  }
  


  .hottest-swiper {
    width: 100%;
    height: 350px;
    
   
    
  .swiper-wrapper{
    width: 100%;
    height: 350px;
    
  } 
   
  }
  
.hottest-slide{
    width: 314.5px;
    height: 350px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  

   
  }


.hottest__list{
    
    height: auto;
    margin-left: 20px;
    
    
}
  .hottest__list div{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    height: 110px;
    align-items: center;
    
   
    
   
    
   
  }

  
  .hottest__list div .number {
    font-weight: 800;
    color: #19bfd3;
    text-align: center;
    margin-left: 12px;
    font-family:IRANYekanWeb-ExtraBold;
    font-size: 1.7rem;
    margin-right: 10px;
    
    
  }

  .hottest__list div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    
  }
 

  .hottest__list div img {
    width: 86px;
    height: 86px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    overflow: hidden;
    
    line-height: 0;
    flex-shrink: 0;
    
  }
 

  .hottest__list div p {
    font-size: 12px;
    font-weight: 400;
    font-family:IRANYekanWeb-regular;
    color: #3f4064;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: right;
    line-height: 2.5;
  }

  .swiper-button-next, .swiper-button-prev {
    color: #333;
  }

  .hottest__list > div {
    position: relative;
    padding: 12px 0;
  }
  
  .hottest__list div a {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 0;
  }
  
  .hottest__list div a::after {
    content: "";
    position: absolute;
    right: 98px;
    bottom: 0;
    height: 1px;
    width: calc(100% - 98px);
    background-color: #f0f0f1;
    
    
   
  }
  

  .hottest__list div:last-child a::after {
    content: none;
  }
  
  